n8n workflows/Daily Audit ( AI CRM ) CANCLED.json
{
  "name": "Daily Audit ( AI CRM )  CANCLED",
  "nodes": [
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2416,
        1024
      ],
      "id": "5e3b645a-930c-4031-953c-996f655e0ca7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "GSfcZEa33LUFZNxJ",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following website and generate a complete, structured documentation report.\n\n### WEBSITE DATA\nDomain: {{ $json.domain }}\n\nHomepage Content:\n{{ $json.homepage_text }}\n\nMetadata (title, description, canonical):\n{{ JSON.stringify($json.meta) }}\n\nHeadings Structure (H1–H6):\n{{ JSON.stringify($json.headings) }}\n\nInternal Links:\n{{ JSON.stringify($json.internal_links) }}\n\nExternal Links:\n{{ JSON.stringify($json.external_links) }}\n\nVisible Pages / URLs:\n{{ JSON.stringify($json.pages) }}\n\n--------------------------------------------------\n## OUTPUT STRUCTURE — FOLLOW EXACTLY\n--------------------------------------------------\n\n# 1. Website Overview\n- What the website is about\n- Primary purpose of the website\n- Target audience (if identifiable)\n- Industry / niche (only if clearly stated)\n\n# 2. Business Type & Intent\n- Business model (service-based, product-based, SaaS, informational, etc.)\n- Primary conversion goals (leads, sales, signups, contact, bookings)\n- Trust signals present (forms, testimonials, certifications, etc.)\n\n# 3. Services / Offerings\nList all services or offerings mentioned on the website.\nFor each service:\n- Service name\n- Short description (1–2 lines)\n- Target audience (if implied)\n\nIf no services are clearly listed, state that clearly.\n\n# 4. Content & Page Structure\n- Main sections on the homepage\n- Important internal pages and their purpose\n- Content depth (thin / moderate / detailed)\n\n# 5. SEO Keyword Analysis\n## 5.1 Primary Keywords\n- List keywords strongly implied by headings, titles, and repeated terms\n\n## 5.2 Secondary / Supporting Keywords\n- Related phrases and variations\n\n## 5.3 Branded Keywords\n- Brand name variations used on the site\n\nDo NOT guess search volume or intent.\n\n# 6. Positioning & Messaging\n- Core value proposition\n- Tone of messaging (formal, casual, technical, sales-focused, neutral)\n- Key phrases repeatedly emphasized\n\n# 7. Technical & Structural Observations\n- Use of headings and hierarchy\n- Internal linking behavior\n- Presence of metadata and structure\n- Any visible inconsistencies or gaps\n\n# 8. Limitations & Missing Information\nClearly list:\n- Missing business details\n- Unclear services\n- Weak or absent sections\n- Any ambiguity found during analysis\n\n--------------------------------------------------\nEND OF REPORT\n--------------------------------------------------\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a senior Website Intelligence & Documentation Analyst.\n\nYour job is to analyze a website objectively using the provided data (page content, metadata, headings, links, and visible structure).\n\nYou must:\n- Rely ONLY on the provided website data\n- Never assume services, industries, or locations not explicitly present\n- Avoid marketing fluff, hype words, or sales language\n- Write clearly, concisely, and professionally\n- Prefer structured sections and bullet points\n- Use simple business-friendly language\n- Be factual, neutral, and analytical\n\nIf information is missing or unclear, explicitly state:\n\"Not clearly specified on the website.\"\n\nDo NOT:\n- Invent services, keywords, pricing, locations, or technologies\n- Repeat the same idea in multiple sections\n- Use emojis, casual tone, or conversational phrases\n- Add opinions or recommendations unless asked\n\nYour output should look like internal documentation prepared for strategy, SEO, or onboarding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2416,
        800
      ],
      "id": "4d4eeb02-7b54-4898-8c27-fd0e2a14b378",
      "name": "Analyse Website"
    },
    {
      "parameters": {
        "url": "={{ $json.client }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2864,
        800
      ],
      "id": "66547329-152d-45bf-95a5-e4bf13f3dc24",
      "name": "Get Raw Data"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node (JavaScript)\n// Raw-HTML safe, URL-aware, n8n-VM compatible\n\nconst item = $input.first()?.json || {};\nconst html = item.data || \"\";\n\n// ---------- SAFETY ----------\nif (!html || typeof html !== \"string\") {\n  return [{ json: { error: \"No valid HTML provided\" } }];\n}\n\n// ---------- HELPERS ----------\nconst stripTags = (str = \"\") =>\n  str\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n    .replace(/<!--[\\s\\S]*?-->/g, \"\")\n    .replace(/<\\/?[^>]+>/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst uniq = (arr) => [...new Set(arr.filter(Boolean))];\n\nconst getOrigin = (url) => {\n  const m = url.match(/^(https?:\\/\\/[^\\/]+)/i);\n  return m ? m[1] : \"\";\n};\n\n// ---------- DOMAIN DETECTION ----------\nlet domain = \"\";\n\n// 1. Canonical\nconst canonicalMatch = html.match(\n  /<link[^>]+rel=[\"']canonical[\"'][^>]+href=[\"'](https?:\\/\\/[^\"']+)[\"']/i\n);\n\nif (canonicalMatch) {\n  domain = getOrigin(canonicalMatch[1]);\n}\n\n// 2. Fallback: first absolute anchor\nif (!domain) {\n  const absLink = html.match(/<a[^>]+href=[\"'](https?:\\/\\/[^\"']+)[\"']/i);\n  if (absLink) domain = getOrigin(absLink[1]);\n}\n\n// ---------- METADATA ----------\nconst extractOne = (regex) => {\n  const match = html.match(regex);\n  return match ? stripTags(match[1]) : null;\n};\n\nconst meta = {\n  title: extractOne(/<title[^>]*>([\\s\\S]*?)<\\/title>/i),\n  description: extractOne(\n    /<meta[^>]+name=[\"']description[\"'][^>]+content=[\"'](.*?)[\"']/i\n  ),\n  canonical: canonicalMatch ? canonicalMatch[1] : null,\n};\n\n// ---------- HEADINGS ----------\nconst extractAllText = (regex) =>\n  [...html.matchAll(regex)]\n    .map(m => stripTags(m[1]))\n    .filter(t => t.length > 2);\n\nconst headings = {\n  h1: extractAllText(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/gi),\n  h2: extractAllText(/<h2[^>]*>([\\s\\S]*?)<\\/h2>/gi),\n  h3: extractAllText(/<h3[^>]*>([\\s\\S]*?)<\\/h3>/gi),\n  h4: extractAllText(/<h4[^>]*>([\\s\\S]*?)<\\/h4>/gi),\n  h5: extractAllText(/<h5[^>]*>([\\s\\S]*?)<\\/h5>/gi),\n  h6: extractAllText(/<h6[^>]*>([\\s\\S]*?)<\\/h6>/gi),\n};\n\n// ---------- LINKS ----------\nconst hrefMatches = [...html.matchAll(/<a[^>]+href=[\"'](.*?)[\"']/gi)];\nconst rawLinks = hrefMatches.map(m => m[1]);\n\nconst normalize = (link) => {\n  if (!link || link.startsWith(\"mailto:\") || link.startsWith(\"tel:\")) return null;\n\n  if (link.startsWith(\"http\")) return link.split(\"#\")[0];\n\n  if (link.startsWith(\"/\") && domain)\n    return domain + link.split(\"#\")[0];\n\n  return null;\n};\n\nconst normalizedLinks = uniq(rawLinks.map(normalize));\n\n// ---------- INTERNAL / EXTERNAL ----------\nconst internal_links = normalizedLinks.filter(\n  l => domain && l.startsWith(domain)\n);\n\nconst external_links = normalizedLinks.filter(\n  l => l.startsWith(\"http\") && (!domain || !l.startsWith(domain))\n);\n\n// ---------- VISIBLE PAGES ----------\nconst pages = internal_links.filter(l =>\n  !l.match(/\\.(jpg|jpeg|png|svg|css|js|pdf|webp|woff|ttf)$/i)\n);\n\n// ---------- HOMEPAGE TEXT ----------\nlet bodyContent = \"\";\nconst bodyMatch = html.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i);\n\nif (bodyMatch) {\n  bodyContent = bodyMatch[1]\n    .replace(/<header[\\s\\S]*?<\\/header>/gi, \"\")\n    .replace(/<nav[\\s\\S]*?<\\/nav>/gi, \"\")\n    .replace(/<footer[\\s\\S]*?<\\/footer>/gi, \"\");\n}\n\nconst homepage_text = stripTags(bodyContent);\n\n// ---------- FINAL OUTPUT ----------\nreturn [\n  {\n    json: {\n      domain,\n      homepage_text,\n      meta,\n      headings,\n      internal_links,\n      external_links,\n      pages,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2640,
        800
      ],
      "id": "1138abb2-0184-46d1-847f-55b902058f1b",
      "name": "Filter Raw Data"
    },
    {
      "parameters": {
        "jsCode": "// Get raw text from AI Agent\nconst raw =\n  $json.output ||\n  $json.text ||\n  \"\";\n\n// Safety check\nif (!raw) {\n  return [{ json: { error: \"No query text found\" } }];\n}\n\n// Split into lines, clean\nconst queries = raw\n  .split('\\n')\n  .map(q => q.trim())\n  .filter(Boolean);\n\n// Convert to MULTIPLE ITEMS (this is the key)\nconst items = queries.map((query, index) => ({\n  json: {\n    index: index + 1,\n    query: query\n  }\n}));\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        800
      ],
      "id": "2443f1bb-352d-4370-899d-8e8884a6272b",
      "name": "Filter Queries"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1488,
        800
      ],
      "id": "c9379e87-55db-49cb-b8ef-240f31130a0e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1264,
        800
      ],
      "id": "96316796-0cd2-4bfc-80fc-18c36f548af8",
      "name": "Wait",
      "webhookId": "3a9c05a3-016d-4cbb-b982-ee06ea24b2df"
    },
    {
      "parameters": {
        "url": "https://seo-api2.p.rapidapi.com/keyword-rank-checker",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Filter Raw Data').item.json.domain }}"
            },
            {
              "name": "keyword",
              "value": "={{ $json.query }}"
            },
            {
              "name": "countryCode",
              "value": "us"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "pages",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "seo-api2.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "336da96598msh5d129c3e66749c0p14a98bjsn2b8294572e2c"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        816
      ],
      "id": "eaa883ca-0b05-4405-b026-93b95ba83810",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "domain"
            },
            {
              "fieldToAggregate": "keyword"
            },
            {
              "fieldToAggregate": "rank"
            },
            {
              "fieldToAggregate": "url"
            },
            {
              "fieldToAggregate": "countryCode"
            },
            {
              "fieldToAggregate": "language"
            },
            {
              "fieldToAggregate": "pages"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1264,
        400
      ],
      "id": "83aa23d8-44ae-4680-9007-e915261e3bd5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following keyword ranking data for the website {{ $json.domain }}.\n\nDATA:\n- Keyword: {{ $json.keyword }}\n- Current Rank: {{ $json.rank }}\n- Ranking URL: {{ $json.url }}\n- Country: {{ $json.countryCode }}\n- Language: {{ $json.language }}\n- Pages Found: {{ $json.pages }}\n- Domain Found in SERP: {{ $json.domain[0] }}\n\nTASK:\nCreate a keyword ranking audit entry using the structure below.\n\n--------------------------------------------------\nKEYWORD: {{ $json.keyword }}\n\n1. Ranking Status\n- Explain what the current ranking position means in terms of visibility and traffic potential.\n- Categorize the keyword as:\n  - Excellent (Top 3)\n  - Strong (4–10)\n  - Moderate (11–20)\n  - Weak (21–50)\n  - Poor (50+)\n\n2. SERP Visibility Analysis\n- Assess how competitive this keyword likely is.\n- Comment on whether the current ranking URL is appropriate for this keyword.\n- Identify if the keyword is close to a high-impact improvement range (Top 10 / Top 3).\n\n3. Page-Level Observations\n- Is the ranking URL suitable for the keyword intent?\n- Mention any potential mismatch between keyword intent and page type (if applicable).\n\n4. Opportunities for Improvement\n- What specific improvements could realistically push this keyword higher?\n- Focus on:\n  - Content depth\n  - On-page optimization\n  - Internal linking\n  - Authority signals\n\n5. Priority Level\nAssign one:\n- High Priority\n- Medium Priority\n- Low Priority\n\n--------------------------------------------------\n\nWrite clearly and concisely. Avoid repetition.\n",
        "options": {
          "systemMessage": "You are a senior SEO analyst with experience in keyword ranking audits, competitive analysis, and search performance reporting.\n\nYour job is to analyze keyword ranking data and produce a clear, structured, professional SEO audit report.\n\nRules you must follow:\n- Be precise and data-driven\n- Do not repeat raw data verbatim unless needed\n- Do not use marketing hype or generic SEO advice\n- Write in clear business English\n- Use headings, bullet points, and short paragraphs\n- Focus on insights, not explanations of SEO basics\n\nYou must evaluate:\n- Keyword rankings\n- Position strength (Top 3, Top 10, Top 20, etc.)\n- Visibility opportunities\n- Risks and weaknesses\n- Clear, actionable recommendations\n\nOutput must be structured and client-ready.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1040,
        400
      ],
      "id": "c3ec649d-1d51-4c1a-bb65-a6a7593e04be",
      "name": "Ranking Report"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -976,
        624
      ],
      "id": "818423cd-28f2-4e40-b4f8-ca0e96a0c7fe",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "j7sHiUOS30R0X2Jh",
          "name": "vicna.com.au"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the best SEO Manager in the country—a world-class expert in optimizing websites to rank on Google.\n\nYou will analyze the structured content dataset from a webpage and produce a detailed SEO Content Audit. \nThis dataset includes:\n- textChunks (segmented raw text content)\n- shortSummary (high-level summary of the page)\n\nUse ONLY this content. Do not assume missing sections or fabricate information.\n\nYour audit has 2 parts:\n\n-------------------------------------------------\nPART 1 — ANALYSIS\n-------------------------------------------------\n\n1. Content Quality Assessment\n   - Evaluate clarity, value, accuracy, E-E-A-T signals, uniqueness, and topical depth.\n   - Identify missing information users expect on this topic.\n   - Highlight fluff, repetition, or unclear messaging.\n\n2. Keyword Research & Content Analysis\n   - Identify the primary and secondary keywords based on the provided content only.\n   - Evaluate keyword density, placement, and relevance.\n   - Detect missing high-intent keywords and semantic variations.\n   - Check if headings and sections support strong topical coverage.\n\n3. Readability Analysis\n   - Assess tone, sentence complexity, flow, and clarity.\n   - Provide readability evaluation using simplified logic (you may approximate readability scores based on content patterns).\n\n-------------------------------------------------\nPART 2 — RECOMMENDATIONS\n-------------------------------------------------\n\nProvide actionable recommendations in clean bullet points:\n- Improvements for ranking higher in Google\n- Enhancements for user engagement and clarity\n- Suggestions for missing sections, FAQs, CTAs, examples, or trust signals\n- Keyword optimization strategy\n- Readability improvements\n\nDo not include introductory or concluding text. Only provide the structured audit.\n\nHere is the structured content of my landing page:\n{{ $json[\"textChunks\"] }}\n",
        "options": {}
      },
      "id": "fa83b08f-3504-4306-96e9-b864711db16f",
      "name": "Content Audit",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -464,
        528
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "e8cc7d52-b373-4a23-92c8-ec5bc98d1183",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -112,
        432
      ],
      "typeVersion": 3,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const html = $('Get Raw Data').first().json.data || \"\";\n\n// --------------------------------------------------------\n// 0. CLEAN HTML (scripts, styles, comments, whitespace)\n// --------------------------------------------------------\nconst cleaned = html\n  .replace(/<!--[\\s\\S]*?-->/g, \"\")\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, \"\")\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// --------------------------------------------------------\n// 1. TITLE\n// --------------------------------------------------------\nconst title =\n  cleaned.match(/<title>(.*?)<\\/title>/i)?.[1]?.trim() || \"\";\n\n// --------------------------------------------------------\n// 2. META TAGS (clean, structured, NO NULL OBJECTS)\n// --------------------------------------------------------\nconst metaTags = (cleaned.match(/<meta\\s+[^>]*>/gi) || [])\n  .map(tag => {\n    const name = tag.match(/\\bname=[\"']([^\"']+)[\"']/i)?.[1];\n    const property = tag.match(/\\bproperty=[\"']([^\"']+)[\"']/i)?.[1];\n    const content = tag.match(/\\bcontent=[\"']([^\"']+)[\"']/i)?.[1];\n    const charset = tag.match(/\\bcharset=[\"']?([^\"'\\s>]+)[\"']?/i)?.[1];\n\n    const obj = {};\n    if (name) obj.name = name;\n    if (property) obj.property = property;\n    if (charset) obj.charset = charset;\n    if (content) obj.content = content;\n\n    return obj;\n  })\n  .filter(obj => Object.keys(obj).length > 0);\n\n// --------------------------------------------------------\n// 3. CANONICAL\n// --------------------------------------------------------\nconst canonical =\n  cleaned.match(/<link[^>]*rel=[\"']canonical[\"'][^>]*href=[\"']([^\"']+)[\"']/i)?.[1] || \"\";\n\n// --------------------------------------------------------\n// 4. HEADINGS (H1–H6)\n// --------------------------------------------------------\nconst headings = { h1: [], h2: [], h3: [], h4: [], h5: [], h6: [] };\n\nfor (const match of cleaned.matchAll(/<(h[1-6])[^>]*>(.*?)<\\/\\1>/gi)) {\n  const tag = match[1];\n  const text = match[2].replace(/<[^>]+>/g, \"\").trim();\n  if (text) headings[tag].push(text);\n}\n\n// --------------------------------------------------------\n// 5. PARAGRAPHS (meaningful only)\n// --------------------------------------------------------\nconst paragraphs = [];\nfor (const match of cleaned.matchAll(/<p[^>]*>(.*?)<\\/p>/gi)) {\n  const text = match[1].replace(/<[^>]+>/g, \"\").trim();\n  if (text.length > 30) paragraphs.push(text);\n}\n\n// --------------------------------------------------------\n// 6. LINKS (deduped, clean)\n// --------------------------------------------------------\nconst linkMap = new Map();\nconst domain = ($json.client || \"\").replace(/^https?:\\/\\//, \"\");\n\nfor (const match of cleaned.matchAll(/<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>(.*?)<\\/a>/gi)) {\n  const url = match[1].trim();\n  const text = match[2].replace(/<[^>]+>/g, \"\").trim();\n\n  if (!url || url === \"#\") continue;\n  if (linkMap.has(url)) continue;\n\n  linkMap.set(url, {\n    url,\n    text,\n    type: url.startsWith(\"/\") || url.includes(domain) ? \"internal\" : \"external\"\n  });\n}\n\nconst links = [...linkMap.values()];\n\n// --------------------------------------------------------\n// 7. IMAGES (deduped + categorized)\n// --------------------------------------------------------\nconst imageMap = new Map();\n\nfor (const match of cleaned.matchAll(/<img[^>]*>/gi)) {\n  const tag = match[0];\n  const src = tag.match(/src=[\"']([^\"']+)[\"']/i)?.[1];\n  if (!src || imageMap.has(src)) continue;\n\n  const alt = tag.match(/alt=[\"']([^\"']*)[\"']/i)?.[1] || \"\";\n\n  let category = \"generic\";\n  if (alt.toLowerCase().includes(\"logo\")) category = \"logo\";\n  else if (src.toLowerCase().includes(\"hero\")) category = \"hero\";\n  else if (src.toLowerCase().endsWith(\".svg\")) category = \"icon\";\n\n  imageMap.set(src, { src, alt, category });\n}\n\nconst images = [...imageMap.values()];\n\n// --------------------------------------------------------\n// 8. STRUCTURED DATA (JSON-LD)\n// --------------------------------------------------------\nconst jsonLd = [];\nfor (const match of html.matchAll(/<script[^>]*type=[\"']application\\/ld\\+json[\"'][^>]*>([\\s\\S]*?)<\\/script>/gi)) {\n  try {\n    jsonLd.push(JSON.parse(match[1]));\n  } catch {}\n}\n\n// --------------------------------------------------------\n// 9. TEXT CONTENT + CHUNKING\n// --------------------------------------------------------\nconst combinedText = [...Object.values(headings).flat(), ...paragraphs].join(\" \");\nconst wordCount = combinedText.split(/\\s+/).filter(Boolean).length;\n\nconst textChunks = [];\nfor (let i = 0; i < combinedText.length; i += 3000) {\n  textChunks.push(combinedText.slice(i, i + 3000));\n}\n\n// --------------------------------------------------------\n// 10. FINAL OUTPUT\n// --------------------------------------------------------\nreturn [{\n  json: {\n    title,\n    metaTags,\n    canonical,\n    headings,\n    paragraphs,\n    links,\n    images,\n    jsonLd,\n    wordCount,\n    textChunks,\n    shortSummary: combinedText.slice(0, 400),\n\n    technicalData: {\n      title,\n      metaTags,\n      canonical,\n      headings,\n      links,\n      images,\n      jsonLd,\n      wordCount\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        320
      ],
      "id": "d4921ed1-40bc-460d-8380-ae0679f1a546",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are the best SEO Manager in the country—a world-class expert in optimizing websites to rank on Google.\n\nYou will analyze the structured technical dataset from a webpage and perform a full On-Page Technical SEO Audit. \nThe dataset includes: \n- title\n- meta tags\n- canonical\n- headings (H1–H6)\n- links\n- images\n- JSON-LD schema\n- word count\n\nDo NOT expect raw HTML. You must evaluate only what is provided.\n\nAudit Structure:\nYou will review all technical SEO aspects and present your findings in three sections:\n\n1. Critical Issues – Must be fixed immediately.\n2. Quick Wins – Easy fixes with strong impact.\n3. Opportunities for Improvement – Higher-effort tasks with meaningful benefit.\n\nYour analysis should cover:\n- Title & meta tag optimization\n- Canonical correctness\n- Heading hierarchy & structure\n- Image alt text & file relevance\n- Link optimization (internal/external, relevance, duplication)\n- Structured data validation\n- Content depth signals (word count, topical coverage)\n- Page experience & crawlability considerations based on visible data\n\nFormat your output cleanly using bullet points only. \nDo not include explanations of your process or any intro text.\n\nHere is the structured technical data of my landing page:\n{{ JSON.stringify($json[\"technicalData\"], null, 2) }}\n",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        16
      ],
      "id": "35676c75-48ce-4c79-8e83-9bcb1d5e4167",
      "name": "Technical Audit"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -464,
        240
      ],
      "id": "26c52e2e-a9a4-49e1-89ef-ee17910e7fee",
      "name": "Groq Model",
      "credentials": {
        "groqApi": {
          "id": "TmubA5Nke7QcN4AS",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -336,
        240
      ],
      "id": "b2a6b1ee-86b0-4da0-9404-d249eeab885b",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "XeAAY28Y9QQ8mpy2",
          "name": "AUTOPOST GMB"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "id": "0610d32e-0835-4794-86c4-005dfc3c0692",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        112,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -400,
        752
      ],
      "id": "fc90bc1e-020d-4a77-a121-3a3fba266b56",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "TmubA5Nke7QcN4AS",
          "name": "Groq account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projects",
        "limit": 500
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -3312,
        944
      ],
      "id": "1530b0db-c7a6-4446-b5c9-230327999c86",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "RO6dbNmQfgtzDx58",
          "name": "Ai CRM"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3088,
        800
      ],
      "id": "d7d9c460-2c5d-4fcf-b6ab-7198f2d4a2dd",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are provided with consolidated SEO audit data from an automated workflow.\n\nAnalyze ALL of the following inputs together and produce ONE unified SEO Audit Report.\n\n--------------------------------------------------\nPROJECT CONTEXT\n--------------------------------------------------\nProject Name(s):\n{{ $json.name }}\n\nDomain(s):\n{{ $json.client }}\n\nStatus:\n{{ $json.status }}\n\nHealth Score (if available):\n{{ $json.health_score || \"Not provided\" }}\n\n--------------------------------------------------\nTECHNICAL SEO AUDIT FINDINGS\n--------------------------------------------------\n{{ $('Aggregate1').item.json.output }}\n\n--------------------------------------------------\nCONTENT AUDIT FINDINGS\n--------------------------------------------------\n{{ $('Content Audit').item.json.output }}\n\n--------------------------------------------------\nKEYWORD RANKING & VISIBILITY ANALYSIS\n--------------------------------------------------\n{{ $('Ranking Report').item.json.output }}\n\n--------------------------------------------------\nWEBSITE STRUCTURE & ON-PAGE ANALYSIS\n--------------------------------------------------\n{{ $('Analyse Website').item.json.output }}\n\n--------------------------------------------------\nYOUR TASK\n--------------------------------------------------\nUsing ALL inputs above, create a SINGLE, cohesive, client-ready SEO Audit Report.\n\nYou must:\n- Synthesize insights across reports\n- Identify patterns and root causes\n- Explain impact in simple business language\n- Avoid repetition of the same issue across sections\n\n--------------------------------------------------\nFINAL REPORT STRUCTURE (FOLLOW EXACTLY)\n--------------------------------------------------\n\n# 1. Executive Summary\nProvide a high-level overview of the website’s current SEO position.\nSummarize overall strengths, weaknesses, and growth potential.\nEnd with one clear sentence stating whether the site is well-positioned or currently underperforming.\n\n# 2. What Is Working Well\nHighlight meaningful positives only, such as:\n- Strong keyword visibility or near-top rankings\n- Content strengths or topical relevance\n- Solid technical foundations\n- Trust or authority signals\n\nAvoid listing minor or cosmetic wins.\n\n# 3. Ranking & Search Visibility Analysis\nAnalyze keyword performance holistically:\n- What types of keywords are performing well\n- Where visibility is close to high-impact positions\n- Misalignment between keyword intent and ranking pages\n- Opportunities implied by current rankings\n\nDo NOT list keywords one by one unless necessary.\n\n# 4. Content Effectiveness & E-E-A-T Review\nEvaluate how well content supports:\n- Search intent\n- Trust\n- Conversions\n\nIdentify:\n- Content gaps\n- Weak or thin sections\n- E-E-A-T limitations\n- Opportunities to strengthen authority and clarity\n\n# 5. Technical SEO Health Overview\nSummarize ONLY issues that materially affect:\n- Crawlability\n- Indexing\n- Rankings\n- User experience\n\nClearly separate:\n- Critical issues\n- Structural inefficiencies\n- Missed optimization opportunities\n\n# 6. Key Risks & Growth Limitations\nExplicitly list the factors currently limiting SEO growth.\nIf something cannot be assessed from the data, state that clearly.\n\n# 7. Priority Action Plan\nCreate a clear, outcome-focused roadmap:\n\n## High Priority (Immediate Impact)\nActions that can realistically improve rankings or visibility quickly.\n\n## Medium Priority (Growth & Expansion)\nActions that strengthen authority, content depth, and competitiveness.\n\n## Low Priority (Long-Term / Optional)\nActions with marginal or long-term benefit.\n\nEach action must be specific and actionable.\n\n# 8. Final Assessment\nConclude with a concise evaluation of:\n- Current SEO maturity level\n- Competitive readiness\n- Realistic growth outlook over the next 3–6 months\n\n--------------------------------------------------\nIMPORTANT\n--------------------------------------------------\nThis report should feel like it was written by a senior SEO consultant after reviewing multiple internal audits — not like automated tool output stitched together.\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a Principal SEO Strategist and Audit Lead.\n\nYou specialize in synthesizing complex SEO audits into a single, executive-level report for business owners.\n\nYour responsibility is NOT to re-run audits, list raw data, or repeat tool outputs.\nYour responsibility is to CONNECT insights across multiple reports and explain what they mean in practice.\n\nYou think in terms of:\n- Business impact\n- Search visibility\n- Trust and authority\n- Growth constraints\n- Prioritized actions\n\nRules you MUST follow:\n- Use ONLY the data provided in the user message\n- Do NOT assume metrics, tools, or performance not explicitly present\n- Do NOT copy raw outputs verbatim\n- Do NOT repeat the same issue in multiple sections\n- If something is missing or cannot be evaluated, say so clearly\n\nYour tone must be:\n- Professional\n- Direct\n- Client-friendly\n- Insight-driven\n\nNo SEO theory.\nNo filler.\nNo fluff.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -3088,
        1488
      ],
      "id": "7a789f5d-613e-48f3-aa67-bd8f41d50236",
      "name": "Final Audit Report",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based ONLY on the following website analysis data, generate 10 search queries that this page can realistically rank for.\n\nDATA:\n{{ JSON.stringify($json) }}\n\nQUERY GUIDELINES:\n- Focus on service + location combinations\n- Include variations like:\n  - lawyer / attorney / law firm\n  - top / best / experienced (only if implied by content)\n- No questions\n- No sentences\n- No punctuation at the end\n- Output one query per line\n",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an SEO keyword generation engine.\n\nYour ONLY job is to generate Google search queries based on the provided website data.\n\nSTRICT RULES:\n- Output ONLY search queries\n- One query per line\n- No headings\n- No bullet points\n- No explanations\n- No formatting\n- No markdown\n- No extra text before or after\n- No duplicates\n- No invented services or locations\n- Queries must be realistic and human-typed\n\nStyle rules:\n- Lowercase\n- Natural phrasing\n- 3–8 words per query\n- Location included ONLY if present in the data\n\nIf you violate any rule, the output is considered invalid.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -2064,
        800
      ],
      "id": "2ef595ab-8399-49b9-90d9-f192389834e2",
      "name": "Create Queries"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            },
            {
              "fieldToAggregate": "name"
            },
            {
              "fieldToAggregate": "description"
            },
            {
              "fieldToAggregate": "client"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "health_score"
            },
            {
              "fieldToAggregate": "created_at"
            },
            {
              "fieldToAggregate": "updated_at"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3312,
        1488
      ],
      "id": "eedc37f7-b365-4f55-bda1-fd65b3933287",
      "name": "Aggregate2",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2288,
        1024
      ],
      "id": "ec09acc5-e6b3-4fe2-8169-83ba4e544048",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XeAAY28Y9QQ8mpy2",
          "name": "AUTOPOST GMB"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -3088,
        1712
      ],
      "id": "c94c79aa-72c3-48c8-9ff0-ace5a7fb895f",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "GSfcZEa33LUFZNxJ",
          "name": "Groq account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const seen = new Set();\n\nreturn items.filter(item => {\n  const key = item.json.client; // or id if that’s unique\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        1488
      ],
      "id": "26af6b6b-cdfa-4144-857b-fcf8adbe0d29",
      "name": "Code1",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2960,
        1712
      ],
      "id": "323c718d-8151-4d0f-a256-6375cd251829",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "XeAAY28Y9QQ8mpy2",
          "name": "AUTOPOST GMB"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        448
      ],
      "id": "e2a50098-6376-4fed-8426-1668dd0214a3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        896
      ],
      "id": "171d5905-0989-4884-b103-e56f158ac7a7",
      "name": "Wait1",
      "webhookId": "e1598dcb-8fb2-44bd-b768-142ba093fb65"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    technical_audit: $json.output[0] || \"\",\n    content_audit: $json.output[1] || \"\",\n    ranking_audit: $json.output[2] || \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        448
      ],
      "id": "b7a2b934-71be-44fa-a596-3eb4eb01ae65",
      "name": "Code2"
    },
    {
      "parameters": {
        "tableId": "audits",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id"
            },
            {
              "fieldId": "project_id"
            },
            {
              "fieldId": "audit_type"
            },
            {
              "fieldId": "status"
            },
            {
              "fieldId": "started_at"
            },
            {
              "fieldId": "completed_at"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1136,
        448
      ],
      "id": "7fb0d612-c110-4e33-b3f3-6a13eec745b4",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "RO6dbNmQfgtzDx58",
          "name": "Ai CRM"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        560,
        448
      ],
      "id": "75d8760a-d734-4fb6-86c2-283e5dec1c19",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3536,
        1168
      ],
      "id": "fe8f1f84-9539-4360-9d36-d00ba821e948",
      "name": "Schedule Trigger",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3536,
        944
      ],
      "id": "3538a9ce-0d05-4333-b23d-88358777e8e3",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Website",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create Queries",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Website": {
      "main": [
        [
          {
            "node": "Create Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Raw Data": {
      "main": [
        [
          {
            "node": "Filter Raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Raw Data": {
      "main": [
        [
          {
            "node": "Analyse Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Queries": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Ranking Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ranking Report": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ranking Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Content Audit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Content Audit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Technical Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Technical Audit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Technical Audit",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Content Audit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get Raw Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Queries": {
      "main": [
        [
          {
            "node": "Filter Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Final Audit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create Queries",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "Analyse Website",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Final Audit Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Final Audit Report",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b6f9264-6752-4b70-a9b5-2f6298e545b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55ddf2767af1f0624a4aa69d7dcef035162f719baa6c334550734ca340d66366"
  },
  "id": "sDzrQXYicnGgIAjY",
  "tags": [
    {
      "updatedAt": "2025-12-16T10:05:09.644Z",
      "createdAt": "2025-12-16T10:05:09.644Z",
      "id": "YdKATQ7IqZcVPGI6",
      "name": "AI CRM"
    }
  ]
}